@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.rounded-custom {
    background-color: #fff;
    color: #0c4a6e;
}

.rounded-custom::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    background: transparent;
    border-radius: 50%;
    top: -50px;
    pointer-events: none;
    box-shadow: 35px 35px 0 10px #fff;
}

.rounded-custom::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    background: transparent;
    border-radius: 50%;
    bottom: -50px;
    pointer-events: none;
    box-shadow: 35px -35px 0 10px #fff;
}