@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
/* .no-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

/* Handle */
.no-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
.no-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}